<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="sider">
   <aside>
       <ul>
           <li>
               <span>系统设置</span>
               <ul>
                   <li>网站设置</li>
                   <li>安全设置</li>
               </ul>
           </li>
           <li>
               <span>系统设置</span>
               <ul>
                   <li>网站设置</li>
                   <li>安全设置</li>
               </ul>
           </li>
           <li>
               <span>系统设置</span>
               <ul>
                   <li>网站设置</li>
                   <li>安全设置</li>
               </ul>
           </li>
           <li>
               <span>系统设置</span>
               <ul>
                   <li>网站设置</li>
                   <li>安全设置</li>
               </ul>
           </li>
           <li>
               <span>系统设置</span>
               <ul>
                   <li>网站设置</li>
                   <li>安全设置</li>
               </ul>
           </li>
           <li>
               <span>系统设置</span>
               <ul>
                   <li>网站设置</li>
                   <li>安全设置</li>
               </ul>
           </li>
       </ul>
   </aside>
</div>
</html>
